#granada #first {
    background-image: url('holiday/resources/photos/andalusia/K\ and\ J\ Granada.jpg');
}

#granada #second {
    background-image: url('holiday/resources/photos/andalusia/K\ J\ and\ me\ Granada.jpg');
}

#tolado .flip {
    transform: scaleX(-1);
}

#generalife {
    background-image: url('holiday/resources/photos/andalusia/generalife\ K\ D\ and\ J.jpg');
}

#seville img {
    flex: 0 1 auto;
}

#change {
    pointer-events: auto;
    cursor: pointer;
}


